<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>XrVue</title>
</head>
<body>
  <div id="app">
    <b>XrVue demo</b>
    <div>{{person.name}}--{{person.job}}--{{}}</div>
    <div v-text="text"></div>
    <div v-text="person.skill.one"></div>
    <div v-html="html"></div>
    <input type="text" v-model="person.name">
    <input type="text" v-model="msg">
    <div>
      {{msg}}
      <h3>{{person.skill.two}}</h3>
    </div>
    <div v-bind:prop1="prop1">这是v-bind</div>
    <div :prop2="prop2">这是:bind</div>
    <div v-on:click="onClick">这是on的点击事件</div>
    <div @click="handleClick">这是@的点击事件</div>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>

  <script src="./Fan.js"></script>
  <script src="./Star.js"></script>
  <script src="./XrVue.js"></script>
  <script>
    // 这两次打印是同一个东西。我们没有生成新的 template，而是直接更新页面中的数据，又因为 dom 是引用类型，这样一来模板就没了，也就是原始 html 不见了
    console.log(app)
    let el = document.querySelector('#app')
    let vm = new XrVue({
      el: el,
      data: {
        person: {
          name: '尤水就下',
          age: 18,
          job: '前端',
          skill: {
            one: '第一个技能',
            two: '第二个技能'
          }
        },
        text: '这是普通文本',
        html: '<h1>这是html文本</h1>',
        msg: '这是一个双向绑定的 msg',
        prop1: '属性1',
        prop2: '属性2'
      },
      methods: {
        onClick() {
          console.log('on点击了');
        },
        handleClick() {
          console.log('@点击了');
        }
      }
    })
    console.log(app)
  </script>
</body>
<style>
  * {
    margin: 20px;
    font-size: 24px;
  }
</style>
</html>
